<footer class="footer">
  <div class="footer-inner">
    <div class="footer-inner-top">
      <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />

      <nav class="footer-nav-links">
        <ul>
          <li>
            <a href="https://abbott.sharepoint.com/sites/abbottworld/Home.aspx">
              {{dc 'abbott_world' }}
            </a>
          </li>
          <li class="footer-link-us-pr-only">
            <a href="https://go.abbott.com/alightmfa">
              {{ dc 'abbott_benefit_center'}}
            </a>
          </li>
          <li class="footer-link-us-pr-only">
            <a
              href="https://abbott.sharepoint.com/sites/abbottworld/payroll/Pages/Home.aspx?icid=AW_MN_RES_CorpPayroll">
              {{ dc 'abbott_payroll'}}
            </a>
          </li>
          <li>
            <a href="https://www.fieldglass.net/SSOLogin?TARGET=company%3DABO">
              {{ dc 'fieldglass'}}
            </a>
          </li>

          <li>
            <a href="http://myhr.abbott.com/">
              {{ dc 'myhr_portal'}}
            </a>
          </li>
          <li>
            <a
              href="https://abbott.sharepoint.com/sites/gis-home/ITCS/SitePages/Welcome%20to%20the%20Global%20Service%20Desk.aspx?AW_MN_RES_GlobalServiceDesk">
              {{ dc 'global_service_desk'}}
            </a>
          </li>
          <li class="footer-link-us-pr-only">
            <a href="https://ess.sjm.com/irj/portal">
              {{ dc 'sjm_payroll'}}
            </a>
          </li>
          <li>
            <a href="https://fuel50careerdrive.com/saml/login/alias/abbott-sp">
              {{ dc 'career_connect'}}
            </a>
          </li>
          <li>
            <a href="https://wd5.myworkday.com/wday/authgwy/abbott/login.htmld">
              {{ dc 'workday'}}
            </a>
          </li>
          <li>
            <a href="http://go.abbott.com/globoforce?AW_MN_Res_2_ExcellenceAwards">
              {{ dc 'abbott_excellence_awards'}}
            </a>
          </li>
        </ul>
      </nav>
    </div> <!-- footer inner top -->

    <div class="footer-inner-bottom">
      {{ dc 'footer_disclaimer' }}
    </div>
  </div>
</footer>